<html>
<head>
    <style type="text/css">
        body{font-family:Arial, sans-serif;}
    </style>
</head>
<body>

<p style="padding-bottom: 40px">Você tem um novo contato:</p>
<ul>
    <li>Name:  {{ contact.name }}</li>
    <li>Email:  {{ contact.email }}</li>
    <li>Telefone:  {{ contact.phone }}</li>
    <li>Área de Atuação:  {{ contact.acting }}</li>
    <li>Mensagem:  {{ contact.message }}</li>
</ul>

<table border="0" cellspacing="0" cellpadding="0" style="margin:0; padding:0; border:0 none; border-spacing:0px 0px; border- collapse:collapse; color:#000;width:385px; height:188px;text-align:right; font-size: 12px">
    <tbody>
    <tr>
        <td style="padding-bottom:40px"><p><img shrinktofit="true"  src="http://hotspotcwk.com.br/assets/site/images/SmallLogo.jpg" width="140" height="100"></p></td>
        <td style="color: #153c66;  padding-bottom: 10px; padding-top: 15px;text-align:right;">
            <p style="margin:0; color:#153c66; font-size: 20px;"><strong>Ana Paula Mendonça</strong></p>
            <p style="margin:0; color:#59b744; font-size: 16px; font-weight:bold;">Gestora<br></p>
            <span style="font-size: 15px;">+55 41 9801 5512 </span>
            <p style="margin-bottom:1px; margin-top:20px;">Rua Solimões, 849 - Mercês</p>
            <p style="margin-bottom:1px; margin-top:1px;">CEP 80510-140 - Curitiba - PR - Brasil</p>
            <p style="margin-bottom:1px; margin-top:1px;">Tel + 55 41 3205 5036</p>
            <p style="margin-bottom:1px; margin-top:1px;"><strong>mendonca@hotspotcwk.com.br</strong></p>
            <a href="http://www.alavancabrasil.com.br" target="_blank" style="color:#153c66; text-decoration:none"><strong>www.hotspotcwk.com.br</strong></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>