{% extends view('admin.admin') %}

{% block content %}
    <script src="../../../../assets/admin/ckeditor_edit_info/ckeditor.js"></script>
    <script src="../../../../assets/admin/ckeditor_edit_info/sample.js"></script>

    <div id="success" style="display: none" class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Salvo com sucesso!</strong>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edição de Conteudo</h3>
        </div>
        <div class="panel-body">

            <form action="/admin/content/update?id={{ content.id }}" method="post" class="form-horizontal" role="form" id="form">

                <div class="form-group">
                    <label class="control-label col-sm-1" for="title">Titulo:</label>
                    <div class="col-sm-11">
                        <input type="title" name="name" class="form-control" id="name" value="{{ content.name }}">
                    </div>
                </div>

                <div class="form-group">

                    <label class="control-label col-sm-1" for="title">Conteudo:</label>
                    <div class="col-sm-11">

                        <div class="adjoined-bottom">
                            <div class="grid-container">
                                <div class="grid-width-100">
                                    <div id="editor">
                                        {{ content.content|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <br/><br/>
        <div class="row">
            <div class="col-md-12 col-md-offset-2" style="margin-left: 0px">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Informações do Conteudo:
                    </div>
                    <div class="panel-body">

                        <table class="table table-hover">
                            <thead>
                            <th>Titulo</th>
                            <th>Texto</th>
                            <th>#</th>
                            </thead>
                            <tbody>

                            {% for info in content.Information() %}

                                <tr>
                                    <td>{{ info.title|raw }}</td>
                                    <td>{{ limit(info.content,0,40)|raw }}</td>
                                    <td>
                                        <a href='/admin/information/edit?id={{ info.id }}' title='Editar'><i class= 'glyphicon glyphicon-edit'></i></a>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    <a href="/admin/content/index?id={{ content.Page().id }}" class="btn btn-success"> Voltar </a>

    <script>
        initSample();
        var editor = CKEDITOR.instances.editor;
        editor.on( 'change', function( evt ) {
            //console.log( 'Total bytes: ' + evt.editor.getData().length );
            $("#total").html(evt.editor.getData().length )
        });

        $('#form').submit(function(event)
        {
            event.preventDefault();

            var formData = {
                'name'  :  $('#name').val(),
                'content'  : editor.getData()
            };

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                success: function() {
                    $("#success").show();
                    window.setTimeout('location.reload()', 1000);
                },
                fail: function() {
                    alert('Erro na Alteração!!');
                }
            });
        });
    </script>
{% endblock %}