{% extends view('admin.admin') %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        Contatos
    </div>
    <div class="panel-body">

        <table class="table table-hover">
            <thead>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Tel</th>
            <th>Area de atuação</th>
            <th>Mensagem</th>
            <th>#</th>
            </thead>
            <tbody>
            {% for contact in contacts %}

                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phone }}</td>

                    {% if contact.acting == "" %}
                        <td class="danger">Não Registrado</td>
                    {% else %}
                        <td>{{ contact.acting }}</td>
                    {% endif %}

                    <td>{{ limit(contact.message) }}<a href="/admin/contact/show?id={{ contact.id }}"><i class= 'pull-right glyphicon glyphicon-eye-open'></i></a></td>
                    <td><a href='/admin/contact/delete?id={{ contact.id }}' title=''><i class= 'glyphicon glyphicon-trash'></i></a></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <a href="/admin" class="btn btn-success"> Voltar </a>

{% endblock %}