{% extends view('admin.admin') %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            Conteudo da Pagina: <a href="/admin/client/create" title="Novo Cliente" ><i class="pull-right glyphicon glyphicon-plus"></i></a>
        </div>
        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Razão Social</th>
                <th>Email</th>
                <th>Phone</th>
                <th>#</th>
                </thead>
                <tbody>

                {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.social_name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.phone }}</td>
                        <td>
                            <a href='/admin/client/edit?id={{ client.id }}' title=''><i class= 'glyphicon glyphicon-edit'></i></a>
                            <a href='/admin/client/show?id={{ client.id }}' title=''><i class= 'glyphicon glyphicon-eye-open'></i></a>
                            <a href='/admin/client/delete?id={{ client.id }}' title=''><i class= 'glyphicon glyphicon-trash'></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="/admin/pages" type="submit" class="btn btn-success"> Voltar </a>

{% endblock %}