
<!--gallery-->
	<div class="gallery" >
		<div class="topFaixa"><img src="/assets/site/images/topo_faixa.png" class="img-responsive"></div>
		<div style="position: static;background-color: #76B72A">
		<div class="container" id="gallery" >

			<div class="ser-top ga-top">
				<h3 style="color: #263b67" >{{ contents['gll'].name }}</h3>
				<div class="ser-t">
					<b></b>
					<b class="line"></b>
				</div>
			</div>
			<ul class="simplefilter">

				{% for key, gallery in galleries %}

					{% if(key==0) %}
						<li data-filter="{{ gallery.id }}" class="active">{{ gallery.name }}</li>
					{% else %}
						<li data-filter="{{ gallery.id }}" class="">{{ gallery.name }}</li>
					{% endif %}

				{% endfor %}
			</ul>

			<div class="filtr-container">

			{% for key, gallery in galleries %}
				{% for photo in gallery.Photos() %}
					<div class="filtr-item" data-category="{{ photo.gallery_id }}"  data-sort="{{ gallery.name }}">
						<a href="../../../{{ photo.src }}" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<figure>
								<img src="../../../{{ photo.src }}" class="img-responsive"/>	<figcaption>
									<h3>{{ photo.title }}</h3>
									<p>
										{{ photo.description }}
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				{% endfor %}
			{% endfor %}

					<div class="clearfix"> </div>
				</div>
		</div>
		<div class="botFaixa"><img src="/assets/site/images/bot_faixa.png" class="img-responsive"></div>
	</div>


{% block scripts %}
	<script src="../../../assets/site/js/jquery.filterizr.js"></script>
	<script src="../../../assets/site/js/controls.js"></script>
	<script src="../../../assets/site/js/jquery.chocolat.js"></script>
	<link href="../../../assets/site/css/owl.carousel.css" rel="stylesheet">
	<script src="../../../assets/site/js/owl.carousel.js"></script>
	<link rel="stylesheet" href="../../../assets/site/css/chocolat.css" type="text/css" media="screen" charset="utf-8">

	<!-- Kick off Filterizr -->
	<script type="text/javascript">
		$(function() {
			$('.filtr-container').filterizr();
			$('.filtr-item a').Chocolat();
			$("#owl-demo2").owlCarousel({
				items : 0,
				lazyLoad : false,
				autoPlay : true,
				navigation : false,
				navigationText :  false,
				pagination : true
			});
			$(".simplefilter").find(".active").trigger("click");
		});
	</script>

{% endblock %}