{% extends view('app') %}

{% block content %}
<!--gallery-->
	<div class="gallery" id="gallery">
		<div class="container">

			<ul class="simplefilter">

				{% for key, gallery in galleries %}

					<li data-filter="{{ gallery.id }}">{{ gallery.name }}</li>

				{% endfor %}
			</ul>

			{% for key, gallery in galleries %}
				{% for photo in gallery.Photos() %}

				<div class="filtr-container">
					<div class="filtr-item gallery-t" data-category={{ photo.gallery_id }}>
						<a href="images/ga.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<figure>
								<img src="../../../{{ photo.src }}" class="img-responsive" alt=" " />	<figcaption>
									<h3>{{ photo.title }}</h3>
									<p>

										{{ photo.description }}
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				{% endfor %}
			{% endfor %}




				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="../../../assets/site/js/jquery.filterizr.js"></script>
	<script src="../../../assets/sitejs/controls.js"></script>
	<!--<script src="js/jquery.chocolat.js"></script>
	<link href="css/owl.carousel.css" rel="stylesheet">
	<script src="js/owl.carousel.js"></script>
	<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">-->

	<!-- Kick off Filterizr -->
	<script type="text/javascript">
		$(function() {
			$('.filtr-container').filterizr();
			$('.filtr-item a').Chocolat();
			$("#owl-demo2").owlCarousel({
				items : 1,
				lazyLoad : false,
				autoPlay : true,
				navigation : false,
				navigationText :  false,
				pagination : true
			});
		});
	</script>

{% endblock %}