
<!--gallery-->
	<div class="gallery" >
		<div class="topFaixa"><img src="/assets/site/images/topo_faixa.png" class="img-responsive" alt="top faixa"></div>
		<div style="position: static;background-color: #76B72A">
		<div class="container" id="gallery" >

			<div class="ser-top ga-top">
				<h1 style="color: #263b67" >{{ contents['gll'].name }}</h1>
				<div class="ser-t">
					<b></b>
					<b class="line"></b>
				</div>
			</div>
			<ul class="simplefilter">

				{% for key, gallery in galleries %}

					{% if(key==0) %}
						<li data-filter="{{ gallery.id }}" class="active">{{ gallery.name }}</li>
					{% else %}
						<li data-filter="{{ gallery.id }}" class="">{{ gallery.name }}</li>
					{% endif %}

				{% endfor %}
			</ul>

			<div class="filtr-container">

			{% for key, gallery in galleries %}
				{% for photo in gallery.Photos() %}
					<div class="filtr-item" data-category="{{ photo.gallery_id }}"  data-sort="{{ gallery.name }}">
						<a href="../../../{{ photo.src }}" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<figure>
								<img src="../../../{{ photo.src }}" class="img-responsive" alt="{{ photo.title }}"/>	<figcaption>
									<h3>{{ photo.title }}</h3>
									<p>
										{{ photo.description }}
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				{% endfor %}
			{% endfor %}

					<div class="clearfix"> </div>
				</div>
		</div>
		<div class="botFaixa"><img src="/assets/site/images/bot_faixa.png" class="img-responsive" alt="bot faixa"></div>
	</div>

